.aside {
  position: fixed;
  min-width: 12rem;
  height: calc(100vh - 6rem);
  margin: 2rem;
  padding: 10px;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.7);

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(4px);
  border: 1px solid white;

  .aside__subtitle {
    margin: 0 10px;
    position: relative;
    color: white;
    font-size: 16px;

    &::before {
      position: absolute;
      top: -16px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      height: 1px;
      width: 65%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .aside__list {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 1rem;
  }

  .active {
    border-radius: 3px;
    box-shadow: 0px 0px 0px 1px #ffffff;
    background: linear-gradient(
      hsla(0, 0%, 100%, 0.3),
      hsla(0, 0%, 100%, 0.3) 45%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.1) 75%,
      hsla(0, 0%, 100%, 0.5)
    );
  }

  .aside__link {
    padding: 8px 10px;
    display: block;
    color: white;
    font-size: 16px;
    &:hover {
      border-radius: 3px;
      box-shadow: 0px 0px 0px 1px #ffffff;
      background: linear-gradient(
        hsla(0, 0%, 100%, 0.3),
        hsla(0, 0%, 100%, 0.3) 45%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0.1) 75%,
        hsla(0, 0%, 100%, 0.5)
      );
    }
  }

  .aside__item {
    background-color: transparent;
    border: none;
  }

  .aside__new-project {
    position: absolute;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .aside__label {
      color: white;
    }

    .aside__input {
      color: black;
      background-color: #e6eef9cb;
      background-image: url("/public/assets/shell32_16785.ico");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: right center;
      padding-right: 3px;
      background-origin: content-box;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 1px 0.5px #fff;

      &::placeholder {
        color: #84898f;
        font-style: italic;
      }
    }
  }
}

@media (max-width: 800px) {
  .aside {
    position: static;
    padding: 1rem;
    flex-direction: row;
    height: 7rem;

    .aside__link {
      height: fit-content;
      width: fit-content;
    }

    .aside__list {
      flex-direction: row;
      position: absolute;
      bottom: 1rem;
      left: 0;
      padding: 1rem 0 0 1rem;
      width: calc(100% - 1rem);
    }

    .aside__new-project {
      position: absolute;
      bottom: -8rem;
      left: 0;
      padding: 10px;
      box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.7);

      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      backdrop-filter: blur(4px);
      border: 1px solid white;
    }
  }
}
