.breadcrumbs {
  background-color: #e6eef9cb;
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 1px 0.5px #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 32px;
  height: 24px;
  padding: 2px 120px 2px 3px;
  position: relative;
  width: 100%;

  &::before {
    content: url("../../public/assets/double-arrow-left.svg");
    position: absolute;
    left: 28px;
    top: 2px;
  }

  .breadcrumbs__img {
    width: 20px;
    height: 20px;
  }

  .breadcrumbs__title {
    position: relative;
    margin: 0;
    padding: 0 3px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    &:hover {
      background: linear-gradient(180deg, #e5f4fd 45%, #b3e0f9 0);
      box-shadow: 0 0 0 1px #72a2c5;
    }
    &:active {
      background: linear-gradient(180deg, #cee9f8 45%, #86c6e8 0);
    }

    &::after {
      content: url("../../public/assets/arrow-right.svg");
      position: absolute;
      right: -28px;
      top: -1px;
      width: 1em;
    }
  }
}
