.card {
  background-color: var(--bg-200);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: 0px 3px 10px #0000003d;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;

  .card__title {
    font-size: 1.2rem;
    margin: 0;
  }

  .card__labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .card__label {
    font-size: 1rem;
    background-color: var(--primary-200);
    padding: 0.25rem;
    color: var(--bg-100);
    border-radius: var(--border-radius);
  }
}