.header {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 2;

  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  
  display: flex;
  align-items: center;
  justify-content: space-around;

  .header__content {
    display: flex;
    align-items: center;
    gap: 1rem;
    .header__select,
    .header__input {
      border: 1px solid var(--text-100);
      padding: 0.5rem;
      border-radius: var(--border-radius);
      background-color: transparent;
      option {
        background-color: var(--bg-300);
      }
    }
  }

  .header__title {
    font-size: 1.2rem;
    margin: 0;
  }

  .header__link {
    padding: 0.5rem;
    background-color: var(--primary-100);
    border-radius: var(--border-radius);
    &:hover {
      background-color: var(--primary-200);
    }
  }
}
