.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-left: 6rem;
  width: fit-content;

  .pagination__select {
    background-color: transparent;
    border: 1px solid var(--text-100);
    padding: 0.5rem;
    height: 3rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    &:hover {
      background-color: var(--primary-100);
      border: 1px solid var(--primary-100);
    }
    option {
      background-color: var(--bg-100);
    }
  }

  .is-current {
    background-color: var(--primary-200);
  }

  .pagination__list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .pagination__item {
    }
  }
}